<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Message Board</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% for (message of messages) { %>
      <li>
        <h2><%= message.user %></h2>
        <p><%= message.text %></p>
        <time datetime="<%= message.added.toISOString() %>">
          <%= message.added.toLocaleString() %>
        </time>
        <a href="/message/<%= message.id %>">View</a>
      </li>
      <% } %>
    </ul>
    <a href="/new">New Message</a>
  </body>
</html>
